celery==4.4.7
dash-design-kit==1.6.7
dash>=2.5
gunicorn==20.0.4
pandas==1.1.4
redis==3.5.*
google-cloud-bigquery
db-dtypes
colorcet
cryptography
diskcache
psutil
multiprocess
packaging==20.4
importlib-metadata==4.13.0
dash_mantine_components
dash-ag-grid
